body {
    margin: 0;
    text-align: center;
    font-family: Merriweather,serif;
    color: #40514E;
    /* font-size: 3em; */
}
.topcontainer {

    background-color: #DFF6FF;
    padding-top: 100px;
    position: relative;
}
.middle-container {
    margin: 100px auto;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
p{
    line-height: 2;
}
/* .lowercontainer {

} */
.intro{
    width: 30%;
    text-align: center;
    margin: auto;
}
.bottom{
    width: 30%;
    margin: 40px auto 60px;
}

h1 {
    /* Top and bottom 0 margin, horizontally centered */
    margin:50px auto 0 auto;
    font-family: sacramento,serif;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;
    /* padding-top: 50px; */
}
h2{
    font-family: Montserrat, serif;
    font-size: 2.5rem;
    color:#66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    font-family: montserrat,serif;
    color:#11999E;
}


a{
    color:#11999E;
    margin:30px 20px;
    font-family: Montserrat, serif;
    text-decoration: none;
}
a:hover{
    color:#eaf6f6;
}
.copyright{
    margin-top: 50px ;
    color:#eaf6f6;
    font-size: 0.75rem;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.bottom-cloud{
    position:absolute;
    left: 300px;
    bottom: 300px;
}
.dev{
    width: 30%;
    float:left;
    padding-right: 30px;
    padding-bottom: 10px;
}
.motorcycle{
    width: 30%;
    float: right;
    margin-left: 30px;
    margin-bottom: 5px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px;
    text-align: left;


}
hr{
    /* border-style: none;
    border-top-style: dotted;
    color:#eaf6f6;
    border-width: 10px;
    width: 70px; */
    border: dotted #eaf6f6 10px;
    border-bottom: none;
    width: 5%;
    margin:7% auto;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: montserrat,serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }